.chat-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:blue;
    font-weight: 600;
    padding: 30px;
}
#chat-body {
    background-color: skyblue;
    height:100vh;
    position: relative;
}

.chatting-ceo {
    display: flex;
    gap:15px;
    align-items: center;
    margin-bottom: 15px;;
}

.chatting {
    padding: 20px;
}

.chatting-ceo-img img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.chatting-ceo-text {
    background-color: blue;
    border-radius: 20px;
    padding:10px 20px;
    font-weight: bold;
    color: white;
}

.keyboard {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    height:40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:20px;
    width: 100%;
}

.keyboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 20px;
}

.keyboard-chat input{
    width:100%;
    border: none;
}

.keyboard-chat input:focus {
    outline: none;
}